/* Sticky footer styles
-------------------------------------------------- */


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  margin-bottom: 60px;
  font-family: goudy_bookletter_1911regular,serif;
 font-size:2em;
}


@media (max-width: 480px) {
    body{font-size: 1.5em;}

}

h1{
	font-size:4em;
	padding-top:20px;
}

.title{
/*	padding-top:60px;
*/
}

@media (max-width: 480px) {
    h1{font-size: 2.5em;}
}


@media (max-width: 767px)  {
    h1{font-size: 3em;}
}

div {
	color: #ffffff;
	
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background :url(footerimage.png) repeat-x;
}

.social {
	
}

#navToggle .navStripe {
	height: 4px;
	background-color: #777;
}


#navToggleWholesale .navStripe {
	height: 4px;
	background-color: #fff;
}

#main-header .navbar-fat{
/*    background: -webkit-linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
  */
	background:none;
	padding: 20px 0px 20px 20px;
	border:none;
	top:45px;
	float:right;
}
#main-nav-holder .navbar-default{
	background-color: none;
	border:none;
}
 
#main-nav .navbar-default{
	background-color: none;
	
}

h1 {
	margin: auto;
	width: 60%;
	margin-bottom:40px;
}

.lineBreak{
	padding-top:30px;
}
.carousel-control.right{
	background:none;
}
.carousel-control.left{
	background:none;
}

#products .carousel-inner{
	height:52em;
}
.flavourList{
	margin-top:50px;
}

#about-story .carousel-control.left{
	background:none;
	color:#777;

}
#about-story .carousel-control.right{
	background:none;
	color:#777;


}

#bubbleContainer{
  
  width: 100px;
  position: relative;
  display:table-cell;
  transform: rotate(7deg);
  top:20px;
}
#speechBubble {
  position: absolute;
  width:90px;
}
.speechBubbleLink{
	z-index: 100;
	position: absolute;
	top:10px;
}

#meetTeamLink {
  	left:20px;
	color:#fff;
	text-decoration:underline;
}

#ourStoryLink{
  	left:20px;
	color:#fff;
	text-decoration:underline;
}
#faqLink{
  	left:17px;
	color:#777;
	top:15px;
	text-decoration:underline;
}

#contactLink{
  	left:25px;
	color:#777;
	text-decoration:underline;
}

@media (min-width: 480px) {
    #bubbleContainer{width: 150px; left:50px;}
}
@media (min-width: 480px) {
    #speechBubble{width: 150px; }
}
@media (min-width: 480px) {
    .speechBubbleLink{top:30px; }
}


@media (min-width: 480px) {   #ourStoryLink{left:30px; }}
@media (min-width: 480px) {   #faqLink{left:50px; }}
@media (min-width: 480px) {   #contactLink{left:45px; }}

a{
color:white;			
}
#navItemList li{
	float:none;
}


#navItemList  a{
	color:white;
}

#laptopMenuItemList a{
	color:white;
}

#menu-grid-container {
	background:none;
}

#menu-grid {
	background:none;
}

#menu-grid .row{
	margin-left:0px;
	margin-right:0px;
}
#aboutNav{
	background-color:#777;
	height:50px;
	margin-top:25px;
	text-align:center;
	margin-right:5px;
}
#aboutNav a{
	color:#fff;
	padding-top:25px;
	padding-bottom:25px;
}

#carousel-aboutcontent {
	height:31em;
}
@media (min-width: 480px) {   #carousel-aboutcontent{height:25em;}}
@media (min-width: 570px) {   #carousel-aboutcontent{height:30em;}}
@media (min-width: 768px) {   #carousel-aboutcontent{height:15em;}}


#carousel-aboutcontent .carousel-indicators .active {
    
  background-color:#777;
}
#carousel-aboutcontent .carousel-indicators li {
border: 1px solid #777;
}


.background-image{
	opacity:0.5;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

@media (min-width: 480px) {   .background-image-xs{display:none;}}
@media (max-width: 480px) {   .background-image-lg{display:none;}}

.menuGridRow {
	margin-left:0px;
	margin-right:0px;

}

.menuGridItem a{
	color:#ffffff;
}

.menuGridItem img{
	display:block;
	margin:0 auto;
}

.menuGridItem span{
	display:block;
	text-align:center;
}

.galleryGridItem {
	padding:0;
}
.sectionHolder{
	padding-top:30px;
}
.section-products {
	background-color:black;
}

.section-story {
	background-color:#FFFF8F;
}
.section-whereToBuy {
	background-color:black;
}

.section-b2b {
	background-color:#A9CDEF;
}


.section-gallery {
	background-color:yellowgreen;
}
.section-contact {
	background-image: linear-gradient(180deg, #000000, #FFFFFF);
}
/* Custom page CSS

*/
.container .text-muted {
  margin: 20px 0;
}

.sectionHidden{
	display :none;
}


.sectionVisible{
	display :block;
}
#flagContainer{
  
  width: 100px;
  position: relative;
   transform: rotate(-16deg);
  top:20px;
}

#flagImage{

  transform: rotate(18.8deg);
  width:16em;
}
#flagContent {
  position: absolute;
  width:130px;
  left:80px;
  top:45px;
}

@media (min-width: 480px) {
    #flagContainer{width: 150px; left:0px;}
}
@media (min-width: 480px) {
    #flagContent{width: 180px; left:100px; top:65px;}
}

#contactInfo a{
	color:#000;
	
}

.panel-body{
	color:#777;
}